.videoSection {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.videoSection video {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
  object-fit: cover;
}

.video-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.video-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--tamano-xxl-general);
}

.video-title {
  width: 100%;
  max-width: calc(var(--tamano-xl-general) * 26);
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: var(--tamano-l-general)
    calc(var(--tamano-l-general) + var(--tamano-xs-general));
}

.video-title h2 {
  font-family: var(--fuente-titulos);
  font-size: calc(var(--tamano-texto-xxxl) + var(--tamano-s-general));
  font-weight: 900;
  color: var(--color-amarillo-claro);
}

.animated-button {
  width: calc(var(--tamano-m-general) * 6);
  height: calc(var(--tamano-xl-general) * 3);
  border-radius: calc(var(--tamano-s-general) + var(--tamano-xs-general));
  background-color: rgba(0, 0, 0, 0.6);
  padding: var(--tamano-m-general) var(--tamano-l-general);
  border: 1px solid var(--color-amarillo-claro);
  overflow: hidden;
  cursor: pointer;
}

.animated-button img {
  width: var(--tamano-xxxl-general);
  height: var(--tamano-xxxl-general);
}

/* Heartbeat Animation */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animated-button {
  animation: heartbeat 1.5s ease-in-out infinite;
}

.main-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--tamano-l-general) * 3);
  max-width: 1366px; /* Medida fija */
  padding: var(--tamano-xxxl-general) var(--tamano-xxl-general);
}

.main-cards-container h2 {
  font-family: var(--fuente-titulos);
  font-size: calc(var(--tamano-texto-xxxl) + var(--tamano-texto-l));
  font-weight: 600;
  color: var(--color-naranja);
}

.carousel-card-container {
  width: 100%;
  max-width: calc(var(--tamano-xxxl-general) * 9);
  border: 1px solid black;
  border-radius: var(--tamano-m-general) var(--tamano-m-general) var(--tamano-0)
    var(--tamano-0);
}

.carousel-image-container {
  width: 100%;
  height: calc(var(--tamano-xxxl-general) * 5);
}

.carousel-image-container img {
  border-radius: var(--tamano-m-general) var(--tamano-m-general) var(--tamano-0)
    var(--tamano-0);
  object-fit: cover;
  height: 100%;
  max-height: calc(var(--tamano-xl-general) * 10);
}

.card-body-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--tamano-xl-general);
  padding: var(--tamano-xxxl-general) var(--tamano-xl-general);
}

.main-cards-container h3 {
  font-family: var(--fuente-titulos);
  font-size: calc(var(--tamano-texto-xxl) + var(--tamano-texto-s));
  font-weight: 600;
  color: var(--color-marron-medio);
}

.cards-list-container {
  row-gap: var(--tamano-xxl-general);
}

.cards-list-container > li {
  display: flex;
  justify-content: center;
}

.card-body-list li {
  list-style: disc;
  font-family: var(--fuente-textos);
  font-size: var(--tamano-texto-l);
  margin-left: var(--tamano-m-general);
}
